# Code Owners - Automático assignment de reviews

# Terraform
terraform/  @maringelix
terraform/modules/  @maringelix

# Docker
docker/  @maringelix

# Workflows
.github/workflows/  @maringelix

# Documentation
*.md  @maringelix
